
    .list{
        ul
            list-style: none;
            padding: 0;

            li
                /*margin-top: 20px;*/
                width: 100%;
                background: white;
                color: $black;
                margin: 0;
                padding: 28px;
                border: 1px solid $black;
                border-radius: 5px;

            }


                span{
                    padding: 10px;
                    margin: 5px;
                    background: blue;
                    border-radius: 3px;
                    color: white;
                    display: inline-block;
                    float: right;
                    margin-top: -10px;
                    cursor: pointer;
                }
                .list {
                    margin-top: 10px;
                    column-gap: 10px;
                }
                .list li{
                    border: 2px solid black;
                    border-radius: 2px ;
                    padding: 20px;
                    line-height: 2px;
                    /*width: 40%;*/
                    /*margin-left:300px;*/
                    float: center;
                    align-items: center;
                    /*display: inline-block;*/
                    list-style: none;
                    margin-bottom: 3px;

                }


                    &.first{
                        background: rgb(255, 172, 19);
                    }
                    &.second{
                        background: rgb(177, 23, 23);
                    }

                    span.first{
                        background-color: green;
                    }
                    span.second{
                        background-color: red;
                    }
                    span.third{
                        background-color: blue;
                    }


}
                


                   }
      

      





            
        








