 .list li{
     width: 100%;
     background: white;
     color: $black;
     margin-bottom: 10px;
     border: 1px solid black;
     border-radius: 5px;
     list-style: none;
     padding: 20px;
}
 &.first{
     background: rgb(255, 172, 19);
}
 &.second{
     background: rgb(177, 23, 23);
}
 span.first{
     background-color: green;
     display: flex;
     float: right;
     margin: 2px;
     padding: 2px;
}
 span.second{
     background-color: red;
     display: flex;
     float: right;
     margin: 2px;
     padding: 2px;
}
 span.third{
     background-color: blue;
     display: flex;
     float: right;
     margin: 2px;
     padding: 2px;
}
 span{
     border-radius: 5px;
}

      

      





            
        








